@tailwind base;
@tailwind components;
@tailwind utilities;

.style-badge {
  transform: rotate(-90deg);
  left: -32px;
  top: 44px;
}

.bar {
  height: 5px;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.fill {
  height: 6px;
  background-color: #3875cd; /* Filled color */
}

@keyframes rollout {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

.roll-out {
  animation: 0.4s rollout;
}

.card-bg-image {
  background-image: url('https://t3.ftcdn.net/jpg/01/67/59/48/360_F_167594893_dWtiBCm2kkQGeeIGcJSGKryKItZ8XAI1.jpg');
  background-blend-mode: hard-light;
}
